* {
    box-sizing: border-box;
}

body {
    font-size: 14px;

    background-color: #fff;

}

.v145_780 {
    width: 100%;
    height: 100%;
    background: #fff;

    position: absolute;
    top: 0;
    left: 0;
}

/* webpage background*/



.v7_257 {
    width: 100%;
    height: 50px;
    background: #c9c0d3;
    /* headerbar top bar */
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}

/* top_headerbar */

.v7_258 {
    color: rgba(53, 51, 66, 1);
    position: absolute;
    top: 20px;
    left: 111px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

/* swift words at top bar  */

.v11_233 {
    width: 83px;
    height: 50px;
    background: url("images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 16px;
    overflow: hidden;
}



.v145_789 {
    width: 25px;
    height: 25px;
    background: url("images/person_icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 40%;
    left: 80%;
}

/* name vector at top bar */

.v145_791 {
    width: 109px;
    color: rgba(31, 29, 43, 1);
    position: absolute;
    background-color: #c9c0d3;
    top: -20%;
    left: 100%;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: center;
    border:none;
}
/* name button at top bar */

.v145_791:hover {
    background-color: #bfb1cc;
}


.v145_794 {
    width: 70%;
    height: 110%;
    opacity: 1;
    position: absolute;
    top: 90px;
    left: 250px;
    overflow: hidden;
}

/* Home message rectangle */



.v145_795 {
    width: 100%;
    height: 100%;
    background: #f0ebe5;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 4px solid #a27e7e;
    box-shadow: 0px 3.4px 3px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.button1 {
    font-family: Roboto;
    font-size: 15px;
    height: 60px;
    width: 80%;
    position: relative;
    background: #505364;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-right: 20px;
    color: white;
    top: 20px;
    left: 10%;
    
}
.button1:hover {
    background-color: #ead0d13d;
}


.button2 {
    font-family: Roboto;
    font-size: 15px;
    height: 40px;
    width: 70%;
    position: relative;
    background: #505364;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-right: 20px;
    color: white;
    top: 45px;
    left: 20%;
}

.button2_icon {
    height: 40px;
    width: 30px;
    position: absolute;
    background: url("images/shelf_icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 20px;
    border: none;
    top: 105px;
    left: 2%;
}
.button2:hover {
    background-color: #ead0d13d;
}
.button2_icon:hover {
    background-color: #ead0d13d;
}

.button3 {
    font-family: Roboto;
    font-size: 15px;
    height: 40px;
    width: 70%;
    position: relative;
    background: #505364;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-right: 20px;
    color: white;
    top: 55px;
    left: 20%;
}

.button3_icon {
    height: 40px;
    width: 30px;
    position: absolute;
    background: url("images/restock_icon.svg");
    stroke: rgb(241, 235, 235);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 20px;
    border: none;
    top: 155px;
    left: 2%;
}
.button3:hover {
    background-color: #ead0d13d;
}
.button3_icon:hover {
    background-color: #ead0d13d;
}

.button4 {
    font-family: Roboto;
    font-size: 15px;
    height: 40px;
    width: 70%;
    position: relative;
    background: #505364;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-right: 20px;
    color: white;
    top: 65px;
    left: 20%;
}
.button4:hover {
    background-color: #ead0d13d;
}
.button4_icon {
    height: 40px;
    width: 30px;
    position: absolute;
    background: url("images/freezer_icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 20px;
    border: none;
    top: 205px;
    left: 2%;
}
.button4_icon:hover {
    background-color: #ead0d13d;
}

.button5 {
    font-family: Roboto;
    font-size: 15px;
    height: 40px;
    width: 70%;
    position: relative;
    background: #505364;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-right: 20px;
    color: white;
    top: 75px;
    left: 20%;
}
.button5:hover {
    background-color: #ead0d13d;
}
.button5_icon:hover {
    background-color: #ead0d13d;
}

.button5_icon {
    height: 40px;
    width: 30px;
    position: absolute;
    background: url("images/reminder_side_icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 20px;
    border: none;
    top: 255px;
    left: 2%;
}

.button6 {
    font-family: Roboto;
    font-size: 15px;
    height: 40px;
    width: 70%;
    position: relative;
    background: #505364;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-right: 20px;
    color: white;
    top: 85px;
    left: 20%;
}
.button6:hover {
    background-color: #ead0d13d;
}
.button6_icon:hover {
    background-color: #ead0d13d;
}

.button6_icon {
    height: 40px;
    width: 30px;
    position: absolute;
    background: url("images/usersinfo_icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80%;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 20px;
    border: none;
    top: 305px;
    left: 2%;
}




.button7 {
    font-family: Roboto;
    font-size: 15px;
    height: 40px;
    width: 70%;
    position: relative;
    background: #505364;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-right: 20px;
    color: white;
    top: 95px;
    left: 20%;
}

.button7_icon {
    height: 40px;
    width: 30px;
    position: absolute;
    background: url("images/setting_icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 20px;
    border: none;
    top: 355px;
    left: 2%;
}
.button7:hover {
    background-color: #ead0d13d;
}
.button7_icon:hover {
    background-color: #ead0d13d;
}

.button8 {
    font-family: Roboto;
    font-size: 15px;
    height: 40px;
    width: 70%;
    position: relative;
    background: #505364;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin-right: 20px;
    color: white;
    top: 105px;
    left: 20%;
}

.button8_icon {
    height: 40px;
    width: 30px;
    position: absolute;
    background: url("images/exit_icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 90%;
    border-radius: 5px;
    border-width: 1px;
    margin-right: 20px;
    border: none;
    top: 405px;
    left: 3.5%;
}
.button8:hover {
    background-color: #ead0d13d;
}
.button8_icon:hover {
    background-color: #ead0d13d;
}

.v145_796 {
    width: 98%;
    background: url("images/v145_796.png");
    opacity: 1;
    position: absolute;
    top: 45px;
    left: 1%;
    border: 0.8px solid rgba(31, 29, 43, 1);
}

.v145_797 {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 12px;
    left: 29px;
    padding-right: 20px;
}

/* HOME at Home message rectangle */

.v145_799 {
    color: #240b07;
    position: relative;
    top: 0px;
    left: 0px;
    font-family: Roboto;
    font-weight: SemiBold;
    font-size: 25px;
    opacity: 1;
    text-align: left;
}
/* Shelf words at Home message rectangle */


.v145_801 {
    padding: 0%;
    width: 75%;
    height: 15%;
    background: #ead0d1;
    opacity: 1;
    position: absolute;
    top: 25%;
    left: 10%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.v145_802 {
    width: 218px;
    color: rgb(20, 5, 5);
    position: absolute;
    top: 15%;
    left: 10%;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}

.v145_803 {
    width: 100%;
    color: url("../images/v145_803.png");
    position: absolute;
    top: 50%;
    left: 10%;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    color: #041135;
}

.button_close {
    width: 22px;
    height: 20px;
    background: url("images/close_icon.svg");
    position: absolute;
    top: 10px;
    left: 90%;
    border: none;
}
.button_close:hover {
    background-color: #d38a8a3d;
}

.v145_807 {
    width: 33.5px;
    height: 30px;
    background: url("images/info_icon.svg");
    position: absolute;
    top: 15px;
    left: 2%;
}


.v145_811 {
    width: 80px;
    height: 80px;
    background: url("images/reminder_icon.svg");
    background-size: 50%;
    background-repeat: no-repeat;
    opacity: 1;
    position: absolute;
    top: 15px;
    left: -55px;
}

.v145_823 {
    width: 200px;
    height: 120%;
    background: #7a7281;
    opacity: 1;
    position: absolute;
    top: 50px;
    left: 0;
}

/* side bar sidebar */


/* table below */

<style type="text/css">.tg {
    border-collapse: collapse;
    border-spacing: 0;
}

.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-ddu8 {
    background-color: #1f1d2b;
    border-color: #333333;
    color: #ea7c69;
    text-align: left;
    vertical-align: middle
}

.tg .tg-lmw9 {
    background-color: #e6e7e9;
    border-color: #e6e7e9;
    text-align: left;
    vertical-align: middle
}

@media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }

    .tg col {
        width: auto !important;
    }

    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

</style>