/* 239 color change change to sidebar  */
/* 237 and body background-color change change to sidebar  */
body {
    font-size: 14px;
    background-color: rgba(88, 91, 103, 1);
}

.v7_237 {
    width: 100%;
    height: 100%;
    background: rgb(169, 161, 211);
    position: absolute;
    top: 0px;
    left: 0px;
}

.v7_239 {
    width: 388px;
    height: 336px;
    background: rgb(138, 155, 223);
    opacity: 1;
    position: relative;
    top: 35%;
    left: 35%;
}





.v7_245 {
    width: 152px;
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 10%;
    left: 15%;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}
.v11_235 {
    width: 152px;
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 44.5%;
    left: -2%;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: left;
}



.v7_251 {
    width: 18px;
    height: 20px;
    background: url("images/lock_icon.svg");
    opacity: 1;
    position: relative; ;
    top: 32%;
    left: 8.5%;
    overflow: hidden;
}


.v7_254 {
    width: 14px;
    height: 19px;
    background: url("images/user_icon.svg");
    opacity: 1;
    position: relative;
    top: 3.5%;
    left: 9%;
}





.v7_257 {
    width: 100%;
    height: 50px;
    background: #c9c0d3;
    /* headerbar */
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
} /* top_headerbar */

.v7_258 {
    color: rgba(53, 51, 66, 1);
    position: absolute;
    top: 20px;
    left: 111px;
    font-family: Roboto;
    font-weight: Medium;
    font-size: 20px;
    opacity: 1;
    text-align: left;
} /* swift words at top bar  */

.v11_233 {
    width: 83px;
    height: 50px;
    background: url("images/logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 2px;
    left: 16px;
    overflow: hidden;
}

.v11_234 {
    width: 221px;
    height: 132px;
    background: url("images/v11_234.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: -71%;
    left: 18%;
    overflow: hidden;
}


.v11_237 {
    width: 100%;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 551px;
    left: 665px;
    font-family: Roboto;
    font-weight: Bold;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v49_851 {
    width: 200px;
    color: rgba(255, 255, 255, 1);
    position: relative;
    top: 60%;
    left: -25%;
    font-family: Roboto;
    font-weight: Regular;
    font-size: 18px;
    opacity: 1;
    text-align: left;
}

.button1 {
        width: 133px;
        height: 55px;
        background: #5e60bb;
        position: relative; ;
        border:none;
        top: 61%;
        left: 58%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 32.1158px;
        line-height: 38px;
        color: #FFFFFF;
    }
    .button1:hover {
        background-color: #1401023d;
    }
.v7_110 {
    width: 329px;
    height: 60px;
    background: rgba(230, 231, 233, 1);
    font-size: 25px;
    opacity: 1;
    position: absolute;
    top: 65px;
    left: 8%;
    
}